.App {
  background: hsl(0, 0%, 97%);
}


.bar {
  display: flex;
    margin: 0;
    justify-content: space-between;
}


.content {
  display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
   align-items: center;
}