.App {
  background: hsl(0, 0%, 97%);
  background-size: auto;
}


.bar {
  display: flex;
    
    margin: 0;
    justify-content: space-between;
    align-content: center;
}


.Icon {
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  
  
}